version: "3.9"

x-app: &app
  build:
    context: .
    dockerfile: docker/app/app.prod.Dockerfile
    args:
      RUBY_VERSION: 2.5.5
      BUNDLER_VERSION: 2.0.2
      NODE_MAJOR: 8
      YARN_VERSION: 1.3.2
      RAILS_ROOT: /app
      RAILS_ENV: production
  tmpfs:
    - /tmp

x-backend: &backend
  <<: *app
  volumes:
    - rails_cache:/app/tmp/cache
  environment:
    BOOTSNAP_CACHE_DIR: /usr/local/bundle/_bootsnap
    RAILS_LOG_TO_STDOUT: "true"
  stdin_open: true
  tty: true
  depends_on:
    - redis
  env_file:
    - .env

services:
  app:
    <<: *backend
    image: ${CI_REGISTRY_IMAGE}/${DEPLOY_PROJECT_NAME}_app
    restart: unless-stopped
    command: bundle exec puma -C config/puma.rb
    entrypoint: docker/entrypoint.sh
    deploy:
      resources:
        reservations:
          memory: 1gb
        limits:
          memory: 2gb

  nginx:
    build:
      context: .
      dockerfile: docker/nginx/nginx.Dockerfile
      args:
        RAILS_ROOT: /app
    image: ${CI_REGISTRY_IMAGE}/${DEPLOY_PROJECT_NAME}_nginx
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    depends_on:
      - app
    stdin_open: true
    tty: true
    deploy:
      resources:
        limits:
          memory: 400m

  redis:
    image: redis:5.0.11
    volumes:
      - redis:/data
    restart: always
    deploy:
      resources:
        limits:
          memory: 400m

  sidekiq:
    <<: *backend
    image: ${CI_REGISTRY_IMAGE}/${DEPLOY_PROJECT_NAME}_sidekiq
    depends_on:
      - redis
    restart: unless-stopped
    command: bundle exec sidekiq -C config/sidekiq.yml
    deploy:
      resources:
        limits:
          memory: 1gb

volumes:
  rails_cache:
  redis:
