version: "3.9"

x-app: &app
  build:
    context: .
    dockerfile: docker/app/app.prod.Dockerfile
    args:
      RUBY_VERSION: 2.5.5
      BUNDLER_VERSION: 2.0.2
      NODE_MAJOR: 8
      YARN_VERSION: 1.3.2
      RAILS_ROOT: /app
      RAILS_ENV: production
  tmpfs:
    - /tmp

x-backend: &backend
  <<: *app
  volumes:
    - rails_cache:/app/tmp/cache
  environment:
    BOOTSNAP_CACHE_DIR: /usr/local/bundle/_bootsnap
  stdin_open: true
  tty: true
  depends_on:
    - mysql
    - redis
  env_file:
    - .env

services:
  app:
    <<: *backend
    restart: unless-stopped
    ports:
      - 3000
    volumes:
      - assets:/app/public
    command: bundle exec puma -C config/puma.rb
    entrypoint: docker/entrypoint.sh

  nginx:
    build:
      context: .
      dockerfile: docker/nginx/nginx.Dockerfile
      args:
        RAILS_ROOT: /app
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - assets:/app/public
    depends_on:
      - app
    stdin_open: true
    tty: true

  mysql:
    image: mysql:5.7
    volumes:
      - mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PRODUCTION_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_PRODUCTION_DATABASE}
      MYSQL_USER: ${MYSQL_PRODUCTION_USER}
      MYSQL_PASSWORD: ${MYSQL_PRODUCTION_PASSWORD}
    restart: always
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci

  redis:
    image: redis:5.0
    volumes:
      - redis:/data
    restart: always

  sidekiq:
    <<: *backend
    depends_on:
      - redis
    restart: unless-stopped
    command: bundle exec sidekiq -C config/sidekiq.yml

volumes:
  rails_cache:
  assets:
  mysql:
  redis:
