version: "3.9"

x-app: &app
  build:
    context: .
    dockerfile: .docker/app/app.prod.Dockerfile
    cache_from:
      - ${CI_REGISTRY_IMAGE}/${DEPLOY_PROJECT_NAME}_app:latest
    args:
      RUBY_VERSION: 2.5.5
      BUNDLER_VERSION: 2.0.2
      NODE_MAJOR: 10
      YARN_VERSION: 1.22.5
      RAILS_ROOT: /app
      RAILS_ENV: production
  tmpfs:
    - /tmp

x-syslog-driver: &syslog-driver
  logging:
    driver: syslog
    options:
      syslog-address: ${SYSLOG_URL}
      tag: "{{.Name}}/{{.ID}}"

x-backend: &backend
  <<: *app
  <<: *syslog-driver
  volumes:
    - rails_cache:/app/tmp/cache
    - upload_file_storage:/app/storage
  environment:
    BOOTSNAP_CACHE_DIR: /usr/local/bundle/_bootsnap
    RAILS_LOG_TO_STDOUT: "true"
  stdin_open: true
  tty: true
  depends_on:
    - redis
  env_file:
    - .env


services:
  app:
    <<: *backend
    image: ${CI_REGISTRY_IMAGE}/${DEPLOY_PROJECT_NAME}_app
    restart: unless-stopped
    command: bundle exec puma -C config/puma.rb
    entrypoint: .docker/entrypoint.sh
    deploy:
      resources:
        reservations:
          memory: 1gb
        limits:
          memory: 2gb

  nginx:
    <<: *syslog-driver
    image: ${CI_REGISTRY_IMAGE}/${DEPLOY_PROJECT_NAME}_nginx
    build:
      context: .
      dockerfile: .docker/nginx/nginx.Dockerfile
      cache_from:
        - ${CI_REGISTRY_IMAGE}/${DEPLOY_PROJECT_NAME}_nginx:latest
      args:
        RAILS_ROOT: /app
        APP_HOSTNAME: svt
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    depends_on:
      - app
    stdin_open: true
    tty: true
    deploy:
      resources:
        limits:
          memory: 400m

  redis:
    <<: *syslog-driver
    image: redis:5.0.11
    volumes:
      - redis:/data
    restart: always
    deploy:
      resources:
        limits:
          memory: 400m

  sidekiq:
    <<: *backend
    image: ${CI_REGISTRY_IMAGE}/${DEPLOY_PROJECT_NAME}_sidekiq
    depends_on:
      - redis
    restart: unless-stopped
    command: bundle exec sidekiq -C config/sidekiq.yml
    deploy:
      resources:
        limits:
          memory: 1gb

volumes:
  rails_cache:
  redis:
  upload_file_storage:
    driver: local
    driver_opts:
      type: nfs
      o: nfsvers=4,addr=***REMOVED***,rw
      device: ":/vol_nfs_for_servers/qtree_svt"
