$min-width: 900px // Минимальная ширина окна

$main-corp-color: #0050a0   // Корпоративный цвет
$main-bg-color:   #ffffff   // Основной цвет фона
$bgDefault:       #f8f8f8
$navbar-main-hover-bg-color: #e7e7e7 // Цвет фона выделенного пункта

//$min-width:     970px
$animate-time:  0.2s  // Время анимации при создании/удалении элементов
$default-size:  15px // Стандартный размер отступов и высоты ячеек