$min-width: 900px // Минимальная ширина окна
$main-font-color: #333

$main-corp-color: #0050a0 // Корпоративный цвет
$sec-corp-color: #b80013 // Второй корпоративный цвет
$main-bg-color: #ffffff // Основной цвет фона
$bgDefault: #f8f8f8

$navbar-top-bg-color: #fafafa // Цвет фона верхнего заголовка
$navbar-top-text-color: #6e6f70 // Цвет текста верхнего заголовка
$navbar-main-bg-color: #606060 // Цвет фона главного меню
$navbar-main-height: 40px // Высота главного меню
$navbar-main-text-color: white // Цвет текста главного меню
$navbar-border-color: #ddd // Цвет бордюра всех заголовков

//$min-width:     970px
$animate-time:  0.2s  // Время анимации при создании/удалении элементов
$default-size:  15px // Стандартный размер отступов и высоты ячеек