= title "Модели техники"

#index_vendor.container
  .well
    .table-block
      .row
        .col-fhd-18.col-xlg-18.col-lg-18.col-md-19.col-sm-20 ng-controller="ModelsCtrl as m_table"
          = render partial: 'invent/models/index'

        .col-fhd-5.col-fhd-offset-1.col-xlg-6.col-lg-6.col-md-5.col-sm-4 ng-controller="VendorsCtrl as v_table"
          .row
            .col-fhd-16.col-xlg-14.col-lg-14.col-md-16.multiline-buffer
              = button_tag "Новый вендор", type: :button, class: "btn-primary btn-sm btn-block", "ng-click": "v_table.newVendor()"
          .row
          table.table.table-condensed.table-striped
            thead
              tr
                th Наименование
                th
            tbody
              tr ng-repeat="vendor in v_table.vendors"
                td.col-fhd-22 ng-bind="vendor.vendor_name"
                td.col-fhd-2.text-center
                  = fa_icon "trash-o fw", class: "text-danger pointer", "uib-tooltip": "Удалить вендор",
                    "tooltip-append-to-body": true, "ng-click": "v_table.destroyVendor(vendor)"

= render partial: 'edit_modal'