:schedule:
  workplace_worker:
    #  every: ["30s"]
    # cron: '1 * * * *'
    # cron: "*/1 * * * *"
    cron: '0 4 * * *'   # Запуск каждый день в 4 ночи
    # cron: '0 0 4 * * *' #
    # cron: '0 * * * * *'
    class: Invent::WorkplaceWorker
  user_worker:
    cron: '30 3 * * *'   # Запуск каждый день в 3:30 ночи
    class: UserWorker