= title "Просмотр рабочих мест"

.container{ "ng-controller": "WorkplaceIndexCtrl as wpIndex" }
  .row
    .col-fhd-24
      .well
        .content-body
          %datatable-wrapper
            %table.table.table-hover.table-striped{ datatable: "", "dt-options": "wpIndex.dtOptions",
             "dt-columns": "wpIndex.dtColumns", "dt-instance": "wpIndex.dtInstance", width: "100%" }