<div class="form-group"> 
  <div> 
    <label> Площадка </label>
    <select class="form-control" ng-model="loc.selectedItem.location.site_id" ng-change="loc.setDefaultLocations()" ng-options="loc_site.site_id as loc_site.name disable when !loc_site.site_id for loc_site in loc.location_sites"></select>
  </div>
</div>
<div class="form-group"> 
  <div>
    <label> Корпус </label>
    <select class="form-control" ng-model="loc.selectedItem.location.building_id" ng-change="loc.setDefaultLocations()" ng-disabled="!loc.selectedItem.location.site_id" ng-options="loc_building.building_id as loc_building.name disable when !loc_building.building_id for loc_building in loc.selectedItem.location_obj.site.iss_reference_buildings"></select>
  </div>
</div>
<div class="form-group"> 
  <label> Комната </label>
  <ui-select ng-model="loc.selectedItem.location_obj.room" on-select="loc.setLocationRoom()" ng-disabled="!loc.selectedItem.location.building_id" theme="bootstrap">
    <ui-select-match placeholder="Выберите комнату">
      {{ $select.selected.name }} 
    </ui-select-match>
    <ui-select-choices repeat="location_room in loc.selectedItem.location_obj.building.iss_reference_rooms | filter: $select.search">
      <div ng-bind-html="location_room.name | highlight: $select.search"></div>    
    </ui-select-choices> 
  </ui-select>
</div>
<div class="form-group"> 
  <div>
    <label> Комментарий </label>
    <input type="text" class="form-control" ng-model="loc.selectedItem.location.comment">
  </div>
</div>
