.navbar
  @include border-radius(0)

.navbar-sign-in
  border-bottom: 1px solid $navbar-border-color

[role="navigation-top"]
  height: 70px
  background-color: #fafafa
  margin-bottom: 0
  color: $navbar-main-bg-color

  .container
    height: 100%

  // Вся шапка
  .navbar-header
    height: 100%
    width: 100%
    position: relative

  // Логотип ***REMOVED*** + имя сайта
  .navbar-header-brand
    display: table-cell
    min-width: 407px

    @-moz-document url-prefix()
      min-width: 414px

    .navbar-brand-logo
      display: table-cell

      img
        max-height: 60px
        margin: 5px 0

    .navbar-brand-title
      display: table-cell
      font-size: 19px
      padding: 0 25px

      .navbar-brand-title-content
        padding: 10px 25px
        border:
          left: 1px solid $navbar-border-color
          right: 1px solid $navbar-border-color

        a
          display: block
          color: darken($navbar-top-text-color, 15%)
          cursor: pointer
          text-decoration: none !important

          &:hover
            color: darken($navbar-top-text-color, 30%)

  // Информация и пользователе + индикатор загрузки
  .navbar-header-info
    display: table-cell
    vertical-align: middle
    width: 30%
    min-width: 153px

    .navbar-user-info
      display: table-cell
      vertical-align: middle

      .navbar-user-info-content
        span
          display: block

        [data-role="user-type"]
          font-size: 0.875em
          font-weight: bold

        [data-role="user-name"]
          font-size: 0.9em
          color: $main-corp-color

    .navbar-loading
      display: table-cell
      vertical-align: middle
      padding-left: 15px
      width: 46px

  // Навигация
  .navbar-header-menu
    display: table-cell
    vertical-align: middle
    text-align: right
    width: 100%

    .navbar-right
      height: 100%
      display: inline-block
      text-align: right

      li
        display: inline-block
        padding: 0 10px
        border-left: 1px solid $navbar-border-color

        &:first-child
          border-left: none

        a
          line-height: 1em
          color: $navbar-main-bg-color
          padding: 0

          &:hover
            color: $main-corp-color
            background: transparent

          &:focus
            background: transparent

        i
          margin-right: 5px
          color: $main-corp-color

[role="navigation-main"]
  background-color: $navbar-main-bg-color
  border-color: $navbar-main-bg-color
  min-height: $navbar-main-height !important
  letter-spacing: .025em

  //.container
    // height: 100%

  //.navbar-collapse-main
    // height: 100% !important

  // Выделенное меню текущей страницы.
  .active > a
    color: $navbar-main-text-color !important
    background-color: #373737 !important

  .open:not(.active) > a
    background-color: $navbar-top-bg-color !important
    color: $main-font-color !important

  // Первый уровень меню
  .navbar-nav
    > li
      margin:
        top: -1px
        bottom: -1px

      > a
        padding:
          top: 10px
          bottom: 10px
        color: $navbar-main-text-color

        // Случай, когда пользователь дважды подряд кликает на dropdown-menu и убирает фокус с меню (цвет текста должен
        // остаться темным)
        &:focus:not(:hover)
          color: $navbar-main-text-color

        &:hover
          background-color: $navbar-top-bg-color

  // Второй уровень меню (если выбранный dropdown неактивный)
  .dropdown:hover:not(.active)
    @include navbar-show-dropdown-menu

    > a
      color: $main-font-color !important

  // Второй уровень меню (если выбранный dropdown активный)
  .dropdown:hover
    @include navbar-show-dropdown-menu

  .navbar-header
    height: 100%

    // Иконка, всплывающая на xs экранах
    .navbar-toggle
      margin: 5px 10px
      padding: 6px 5px

      .icon-bar
        background-color: $navbar-main-text-color

      &:hover
        background-color: $navbar-top-bg-color

        .icon-bar
          background-color: $navbar-main-bg-color

  .dropdown-menu
    background-color: $navbar-top-bg-color !important

[role="navigation-content"]
  min-width: 878px
  border-top-left-radius: $border-radius-base
  border-top-right-radius: $border-radius-base
  border:
    top: 0
    left: 0
    right: 0
  margin-bottom: 0

.navbar .divider-vertical
    height: 50px
    margin: 0 9px
    float: left
    border-right: 1px solid #ffffff
    border-left: 1px solid #f2f2f2
