.navbar
  @include border-radius(0)

[role="navigation-top"]
  $text-color: white

  margin-bottom: 0
  color: $text-color

  .navbar-text
    color: $text-color

    a
      color: $text-color
      text-decoration: underline

      &:hover
        color: darken($text-color, 15%)

[role="navigation-main"]
  $dropDown: true

  //.dropdown-menu
    @include

  //ul.nav li.dropdown:hover > ul.dropdown-menu
    display: block

  .navbar-nav
    > li
      > a

        &:hover, &:focus
          color: $main-corp-color

      @if $dropDown
        > .dropdown-menu
          margin-top: 1px
          border-top: 0
          @include box-shadow(0, 0, 0, 0)

          > li
            > a
              &:hover, &:focus
                color: $main-corp-color
                background-color: transparent