@media (min-width: 768px)
  .container
    width: 61.6667em
    max-width: 95vw


@media (min-width: 992px)
  .container
    width: 80em
    max-width: 95vw


@media (min-width: 1200px)
  .container
    width: 130em
    max-width: 95vw

body
  background-color: $main-bg-color

button, input[type='submit']
  @extend .btn

textarea
  resize: none

/* ================================================ Основной контент ================================================ */

.bg-content
  margin-bottom: $line-height-computed

.info-block
  padding: 15px

// Позиционирование уведомлений
.alert
  position: absolute
  z-index: 9999
  width: 100%

//.content-body
  width: 100%
  padding: 20px
  display: inline-block

a.default-color
  color: $btn-default-color !important

.pointer
  cursor: pointer

.context-info
  padding: $default-size

.disabled
  @extend .disabled

  a
    color: $gray-light !important

    &:hover
      background-color: $bgDefault !important

.btn-toolbar
  clear: both
  margin: .8333em 0 0
  position: relative

.hidden-attachment
  position: absolute !important
  height: 0
  width: 0
  overflow: hidden

.navbar .ui-select
  margin-top: -1px

  .form-control
    min-width: 100px
    width: 130px

  .dropdown-menu
    min-width: 130px

/* ================================================ Страницы входа на сайт ========================================== */

.auth-header
  h2
    margin:
      top: 0
      left: 40px
      right: 40px
    line-height: 95px
    border-bottom: 1px $table-border-color solid
    text-align: center

.auth-content
  text-align: center
  margin-top: 100px

/* ================================================ Таблицы ========================================================= */

datatable-wrapper
  @include table-block-styles

  .dataTables_filter
    label
      margin-bottom: 0 !important

  .pagination
    @extend .pagination-sm

.table-block
  @include table-block-styles

.dataTables_wrapper .row
  margin-top: 0 !important

.table
  @extend .table
  margin: 10px 0 !important

.table-hover
  @extend .table-hover
  cursor: pointer

// Стили для внутренних таблиц, используемых внутри форм
.internal-table
  width: 100%

  tr.empty
    height: $default-size

  td:last-child
    [class^='col-']
      padding-left: 0 !important

  .min-td
    width: 20px
    padding: 1px 2px 0 2px !important

  .form-group
    margin-bottom: 0 !important

  i
    padding: 10px 0

.manually-val
  background-color: #c5e4ff

.filter-block
  @include border-radius($border-radius-base)

  border: 1px solid $table-border-color
  background-color: $bgDefault


/* ================================================ Стиль для компонентов таблицы DataTables ======================== */

.dataTables_wrapper
  .form-control
    width: 100% !important
    margin-left: 0 !important

  .dataTables_filter
    label
      width: 100% !important

/* ================================================ Стили для табов ================================================= */

uib-tab-heading
  color: $main-font-color

ul.nav-tabs
  li.uib-tab.manage > a
    border: 1px solid $nav-tabs-border-color

  li.uib-tab i.destroy-item:hover
    color: $btn-danger-bg
    cursor: pointer
