@font-face
  font-family: 'Glyphicons Halflings'
  src: url('#{$icon-font-path}#{$icon-font-name}.eot')
  src: url('#{$icon-font-path}#{$icon-font-name}?#iefix') format('embedded-opentype'), url('#{$icon-font-path}#{$icon-font-name}.woff2') format('woff2'), url('#{$icon-font-path}#{$icon-font-name}.woff') format('woff'), url('#{$icon-font-path}#{$icon-font-name}.ttf') format('truetype'), url('#{$icon-font-path}#{$icon-font-name}.svg#glyphicons_halflingsregular') format('svg')

@media (min-width: 768px)
  .container
    width: 61.6667em
    max-width: 95vw


@media (min-width: 992px)
  .container
    width: 80em
    max-width: 95vw


@media (min-width: 1200px)
  .container
    width: 130em
    max-width: 95vw

body
  background-color: $main-bg-color

button
  @extend .btn, .btn-default

textarea
  resize: none

/* ================================================ Основной контент ================================================ */

.bg-content
  margin-bottom: $line-height-computed

// Позиционирование уведомлений
.alert
  position: absolute
  z-index: 9999
  width: 100%

.content-body
  width: 100%
  padding: 20px
  display: inline-block

a.default-color
  color: $btn-default-color !important

.pointer
  cursor: pointer

/* ================================================ Страницы входа на сайт ========================================== */

.auth-header
  h2
    margin:
      top: 0
      left: 40px
      right: 40px
    line-height: 95px
    border-bottom: 1px $table-border-color solid
    text-align: center

.auth-content
  text-align: center
  margin-top: 100px

/* ================================================ Таблицы ========================================================= */

.table
  @extend .table
  margin: 10px 0 !important

.table-hover
  @extend .table-hover
  cursor: pointer

// Стили для внутренних таблиц, используемых внутри форм
.internal-table
  width: 100%

  tr.empty
    height: 15px

  //.fa
    cursor: pointer

  .min-td
    width: 20px
    padding: 1px 2px 0 2px !important

  .form-group
    margin-bottom: 0 !important

  //.icon-padding
  i
    padding: 10px 0

/* ================================================ Стиль для компонентов таблицы DataTables ======================== */

.dataTables_wrapper
  .form-control
    width: 100% !important
    margin-left: 0 !important

  .dataTables_filter
    label
      width: 100% !important