.navbar.navbar-inverse{ role: "navigation-top" }
  .container
    .row
      .col-lg-24
        .navbar-header
          -#= image_tag("Logo.png")
          .navbar-text
            Вычислительная техника

        .collapse.navbar-collapse
          .navbar-text.pull-right Необходимо авторизоваться